In [ ]:

text = input('Enter text: ')
print(text)
letters = ["A", 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V' 'W', 'X', 'Y', 'Z']

codey = list(reversed(text))
for let in codey:
    print(let)
print(str(codey))

In [1]:
print("Nigeria")

Nigeria

In [2]:
10+50

60

In [3]:
40*2*5

400

In [5]:
x = 7
print(x)
print(type(x))

7
<class 'int'>

In [8]:
x = int(input('Enter number x:'))
print(x)
y = int(input('Enter number y:'))
print(y)
print("Addition of x and y is: ", x + y)

60
50
Addition of x and y is:  110

In [9]:
x = (input('Enter number x:'))
print(x)
y = (input('Enter number y:'))
print(y)
print("Addition of x and y is: ", x + y)

20
23
Addition of x and y is:  2023

In [10]:
#data types
x = 9
type(x)

int

In [11]:
x = -7
type(x)

int

In [12]:
x = 6.7
type(x)

float

NameError: name 'j' is not defined

In [15]:
a = 10j
type(a)

complex

In [18]:
#list
L1 = ["John", 102, "USA", 180.5]
L1
type(L1)

list

In [19]:
#tuple, once you declare a list, you can change the values, but not in tuples
#use round brackets for tuples, square brackets for list, and curly brackets for dictionary
tup = ('Bola', "Audu", "Mercedes")
print(tup)
print(type(tup))

('Bola', 'Audu')
<class 'tuple'>

In [21]:
#dictionary: you can change the values in a dictionary
employee = {"Name": "John", "Age": 29, "Salary": 250000, "Company": "Oracle"}
print(employee)
print(type(employee))

{'Name': 'John', 'Age': 29, 'Salary': 250000, 'Company': 'Oracle'}
<class 'dict'>

In [23]:
#set does not contain key value. only contains unique value
month = {"Jan", "Feb", "Jan", "March", "September"}
print(month)
print(type(month))

{'March', 'Jan', 'September', 'Feb'}
<class 'set'>

In [30]:
L1 = ["John", 102, "USA", 180.5]
print(L1[0])
L1[2]
L1[-4]
L1[1:3]

John

[102, 'USA']

In [33]:
L1.append("Range Rover")
print(L1)
L1.reverse()

['Range Rover', 180.5, 'USA', 102, 'John', 'Range Rover']

In [32]:
L1.reverse()

In [36]:
tup = ('Bola', "Audu", "Mercedes")
tup[:-1]

('Bola', 'Audu')

In [37]:
print(employee)
print(employee.get("Salary"))

{'Name': 'John', 'Age': 29, 'Salary': 250000, 'Company': 'Oracle'}
250000

In [41]:
employee.update({"Company": "Google"})
print(employee)

{'Name': 'John', 'Age': 29, 'Salary': 250000, 'Company': 'Google'}

In [44]:
#if-else
a = 400
b = 250
if b >a:
    print("b is greater")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater")

a is greater

In [46]:
#while
i = 0
while i < 8:
    i = i + 1
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8

In [51]:
#for
tup = ("BMW", "Audi", "Mercedes", "Beetle", "Jaguar")
for car in tup:
    if car[0] != "A":
        print(car)

BMW
Mercedes
Beetle
Jaguar

In [59]:
age = 39
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 39